{
  "singleQuote": true,
  "tabWidth": 1,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "useTabs": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "proseWrap": "always",
  "quoteTransform": false
}
